# Compiler files
artifacts/
cache_hardhat/
cache/
out/

# Ignores development broadcast logs

/broadcast/**/dry-run
/broadcast/**/*.json
!/broadcast/**/*-latest.json

# Docs
docs/

# Coverage
lcov/
lcov.info
coverage/
coverage.json

# Dotenv file
.env

# Private keys
*.key
*.keys