{
    "env": {
        "node": true,
        "browser": true,
        "es2021": true
    },
    "root": true,
    "plugins": [],
    "extends": [
        "prettier"
    ],
    "overrides": [
        {
            "files": [
                "**/src/*.js",
                "**/src/*.ts",
                "**/test/*.ts",
                "**/test/*.js"
            ]
        }
    ],
    "rules": {
        "no-console": [
            "error"
        ],
        "no-eval": [
            "error"
        ],
        "no-extra-boolean-cast": [
            "error"
        ],
        "no-ex-assign": [
            "error"
        ],
        "no-constant-condition": [
            "off"
        ],
        "guard-for-in": [
            "error"
        ]
    }
}