{
  "semi": false,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.sol",
      "excludeFiles": [ "XER20.sol", "XERC20Lockbox.sol" ],
      "options": {
        "printWidth": 80,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": false
      }
    }
  ],
  "importOrder": ["<THIRD_PARTY_MODULES>", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["importAssertions", "typescript", "jsx"],
  "plugins": [
    "prettier-plugin-solidity",
    "@trivago/prettier-plugin-sort-imports"
  ]
}
